
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.form-container {
    width: 300px;
    margin: 100px auto; /* ცენტრში გასწორება */
    padding: 20px; /* შიდა სივრცე */
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}


h2 {
    text-align: center;
}


label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}


input {
    width: 100%;
    padding: 10px; /* padding */
    margin-bottom: 10px; /* margin */
    border: 1px solid #ccc; /* border */
    border-radius: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}