
.tree ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.tree li {
  position: relative;
  padding-left: 15px;
  margin: 5px 0;
  color: red; }


.tree li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 6px;
  height: 6px;
  background: red;
}