
        p, button {
            color: red;
            background-color: black;
        }

        p {
            font-size: 30px;
            text-align: center;
        }

        button {
            width: 150px;
            height: 60px;
        }
