*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    width: 320px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.good{
background-image: url(profile-card-component-main/images/bg-pattern-card.svg);
height: 120px;


}

.tool{
    margin-top: -50px;
}

img{
    border-radius: 50%;
    border: 5px solid white;
}

.jjj{
    padding-top: 20px;
    padding-bottom: 15px;
}
h2{
    font-size: 25px;
    margin-bottom: 5px;

}
hr{
    margin-bottom: 30px;
    margin-top: 30px;
}
.boom{
    display: flex;
    justify-content: space-around;
}

#gray{
    color: gray;
}


h2{
    display: flex;
    justify-content: space-evenly;
}

p{
    color: gray;
}